Source: solydk-system-adjustments-11
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0

Package: solydk-system-adjustments-11
Architecture: all
Depends: ${misc:Depends}, 
  evolvere-2-blue,
  oxygencursors,
  gtk2-engines-pixbuf,
  plasma-desktop,
  gtk3-engines-breeze,
  kde-style-breeze,
  kwin-style-breeze,
  breeze-icon-theme,
  fonts-roboto-slab,
  fonts-clear-sans
Recommends: plymouth,
  lightdm,
  lightdm-gtk-greeter,
  baloo-kf5,
  kde-spectacle,
  kdeconnect,
  kdepasswd,
  plasma-dataengines-addons,
  plasma-widgets-addons,
  kdeplasma-addons-data,
  kdenetwork-filesharing,
  plasma-nm,
  plasma-browser-integration,
  libreoffice-style-breeze,
  apparmor,
  apparmor-utils,
  apparmor-profiles,
  apparmor-profiles-extra,
  firefox-solydxk-adjustments,
  thunderbird-solydxk-adjustments,
  xdg-utils,
  udisks2
Conflicts: solydx-system-adjustments,
  solydx-system-adjustments-8,
  solydx-system-adjustments-9,
  solydx-system-adjustments-10,
  solydx-system-adjustments-11,
  solydk-system-adjustments,
  solydk-system-adjustments-8,
  solydk-system-adjustments-9,
  solydk-system-adjustments-10,
  plymouth-themes-solydk,
  solydk-artwork,
  solydk-grub2-theme,
  solydk-lightdm-adjustments,
  solydk-info,
  solydk-info-8,
  solydk-info-9,
  solydx-info,
  solydx-info-8,
  solydx-info-9
Replaces: solydx-system-adjustments,
  solydx-system-adjustments-8,
  solydx-system-adjustments-9,
  solydx-system-adjustments-10,
  solydx-system-adjustments-11,
  solydk-system-adjustments,
  solydk-system-adjustments-8,
  solydk-system-adjustments-9,
  solydk-system-adjustments-10,
  plymouth-themes-solydk,
  solydk-artwork,
  solydk-grub2-theme,
  solydk-lightdm-adjustments,
  solydk-info,
  solydk-info-8,
  solydk-info-9,
  solydx-info,
  solydx-info-8,
  solydx-info-9
Description: Adjustments for SolydK 11.
 This includes configuration and graphical changes.
